S3method(format,facebook.date)
S3method(format,twitter.date)
S3method(plot,tweets)
S3method(summary,hashtags)
S3method(summary,retweets)
export(count.tweets)
export(estimate.ideology)
export(extract.hashtags)
export(extract.recent.tweets)
export(extract.retweets)
export(extract.tweets)
export(getFollowers)
export(getFriends)
export(getGeo)
export(getList)
export(getTimeline)
export(getUsers)
export(ideology.plot)
export(traceplot.ideology)
export(tweetsToDF)
export(word.frequencies)
import(rmongodb)
